name: .NET API CI/CD to Azure
on:
  push:
    branches:
      - master
  workflow_dispatch: 
env:
  AZURE_WEBAPP_NAME: famledgerApi 
  AZURE_WEBAPP_PACKAGE_PATH: '.'        
  DOTNET_VERSION: '8.0.x'            
jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        
    - name: Build and Publish
      run: |
        dotnet restore
        dotnet publish FamLedger.Api/FamLedger.Api.csproj -c Release -o ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/publish
    
    - name: Upload artifact for deployment
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-app
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: Production
    steps:
    
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: dotnet-app
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/publish

    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/publish
